{% extends "AEUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{#
{% block fos_user_content %}
{% if error %}
    <div style="margin-left: 20px; margin-top: 30px;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>

#}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
    {% block button %}
    {% endblock button %}

<form action="{{ path("fos_user_security_check") }}" method="post" style="margin-top: 60px;" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="row control-group form-group">
    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />
    </div>

    <div class="row control-group form-group">
    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" class="form-control"/>
    </div>

    <div class="row control-group form-group col-lg-offset-9 col-md-offset-8 col-xs-offset-7">
    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </div>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-default form-group center-block" />
</form>
{% endblock fos_user_content %}